@import "@fontsource-variable/josefin-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
    navigation: auto;
  }

:root {
    --html: #f06529;
    --css: #2965f1;
    --javascript: #ffff00;
    --bootstrap: #6e2cf2;
    --tailwindcss: #38bdf8;
    --react: #61dbfb;
    --java: #c05d16;
    --typescript: #3178c6;
    --chartjs: #fe777b;
}

.html {
    color: var(--html);
}
.css {
    color: var(--css);
}
.javascript {
    color: var(--javascript);
}
.bootstrap {
    color: var(--bootstrap);
}
.tailwindcss {
    color: var(--tailwindcss);
}
.react {
    color: var(--react);
}
.java {
    color: var(--java);
}
.typescript {
    color: var(--typescript);
}
.chartjs {
    color: var(--chartjs);
}

body {
    font-family: "Josefin Sans Variable", sans-serif !important;
    background: rgb(13, 12, 12);
    color: lightgray !important;
}

.warning {
    background: repeating-linear-gradient(
        45deg,
        /* Direction of the pattern */ yellow,
        /* First color */ yellow 50px,
        /* End of first color */ black 50px,
        /* Start of second color */ black 100px /* End of second color */
    );
}
