@import "@fontsource-variable/josefin-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-size: 20px;
} */

body {
  font-family: "Josefin Sans Variable", sans-serif !important;
  background: rgb(13, 12, 12);
  color: lightgray !important;
}

.warning {
    background: repeating-linear-gradient(
        45deg,
        /* Direction of the pattern */ yellow,
        /* First color */ yellow 50px,
        /* End of first color */ black 50px,
        /* Start of second color */ black 100px /* End of second color */
    );
}
